body {
    background-color:lightsteelblue;
    font-family: 'Roboto Slab', serif;
}

header {
    background-image:url("https://t3.ftcdn.net/jpg/07/67/45/12/360_F_767451235_uyPbqVBHaa5FMij4Jq4xl6yotuWrRnzs.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 48px;
    text-align:center;
    padding-top:10px;
    padding-bottom:30px;
    margin: -20px -20px 0 -20px;
    border-bottom: 1px solid white;
    color: white;

}

.profilepic {
    height:200px;
    width: 175px;
    border-radius: 100px 100px 100px 100px;
    border:5px solid rgb(255, 255, 255);
    /* This margin makes the picture overlap bottom a bit, which is nice. */
    margin-bottom: -50px; 
}

nav{
    /* background-color: lightskyblue; */
    /* padding-left: 30%;
    padding-right: 30%; */
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
    margin: 0 auto;

}

.buttons {
    display: flex;
    justify-content: space-evenly;
}

.buttons a {
    display: flex;
    background-color: white;
    font-size: 36px;
    text-decoration: none;
    color: blue;
    padding: 2px 10px 2px 10px;
    border:5px solid rgba(128, 128, 128, 0.212);
    border-radius: 10px 10px 10px 10px;
    /* margin-left: 10%; */
    /* margin-right: 10%; */
}

.socialmedia {
    margin-bottom: 5%;
    display: flex;
    justify-content: space-evenly;

    
}

.socialmedia img {
    height: 50px;
    width: 50px;
    border-radius: 10px 10px 10px 10px;

}


/* .socialmedia a {
    padding: 2px 10px 2px 10px;
    
} */


h1 {
    font-size: 56px;
    /* background-color: lightblue; */
}

h2 {
    font-size: 36px;
    text-align: center;
    margin-top: 5%;
}

main {
    margin-top:60px;
    margin-bottom: 60px;
    margin-left: 20%;
    margin-right: 20%;
    
    text-align: justify;
    list-style-position:inside;
}

.intro p {
    text-align: center;
    font-size: 20px;
}

.experience p {
    margin-top: 50px;
    font-size: 22px;
    text-align: center;
}

footer{
    font-size:8px;
    text-align: center;
}

.experience {
    list-style-position:inside;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
}

.quotes {
    list-style-position:inside;
    text-align: justify;
    padding-left: 25%;
    padding-right: 25%
}


.buttons i {
    /* height: 30px; */
    width: 30px;
}

h2 i {
    /* height: 30px; */
    width: 30px;
    
}

li {
    margin-top: 10px;
}

